html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  font-family: Outfit;
  font-size: 1.6rem;
  user-select: none;
}
h1 {
  background-color: #1e90ff;
  text-align: center;
  padding: 20px;
  font-size: 4rem;
  user-select: none;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 75vh;
}
.options {
  flex: 3;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}
.preview {
  flex: 7;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}
.buttons {
  position: fixed;
  bottom: 10px;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}
#reset {
  background-color: #ff6347;
}
#upload {
  background-color: #1e90ff;
  margin-left: auto;
}
#save {
  background-color: #32cd32;
  margin-right: 4rem;
}
.filter-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.filter-btn {
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filter-btn.active {
  background: #1e90ff;
  color: white;
  border-color: #1e90ff;
}
.filter-btn.active:hover {
  background: #1e90ff;
}
.filter-btn:hover {
  background: #f0f0f0;
}
.slider-info {
  margin-top: 2rem;
  .filter-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  #filter-slider {
    width: 100%;
    height: 0.7rem;
    background-color: #ccc;
    border-radius: 0.1rem;
    cursor: pointer;
  }
}
.rotate-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.rotate-btn {
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rotate-btn:hover {
  background: #f0f0f0;
}
#rotate-slider {
  margin-top: 1.2rem;
  width: 100%;
}
.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
