html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  font-family: Outfit;
  font-size: 1.6rem;
  user-select: none;
}
h1 {
  background-color: #1e90ff;
  text-align: center;
  padding: 20px;
  font-size: 4rem;
  user-select: none;
}
